.footer-container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.social-links a i {
  font-size: 18px;
  color: #666;
  transition: color 0.3s ease;
}

.footer-col h4 {
  color: #333;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}

.footer-col h4::after {
  display: block;
  width: 40px;
  height: 2px;
  background: #333;
  margin-top: 8px;
}

footer {
  background-color: rgb(248, 248, 255);
  padding: 30px 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer-col {
    width: 100%;
  }
}
