@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Tangerine:wght@700&display=swap");

.navbar {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 999;
}
.mininav {
  position: sticky;
  top: 73px;
  background-color: white;
  z-index: 100;
}
:root {
  --hoverTextColor1: rgb(159, 32, 137);
  --textColor: rgb(87, 85, 85);
}
